main {
    padding-top: 10rem;
    padding-left: 2rem;
    padding-right: 2rem;
    box-sizing: border-box;
}
body {
    background-color: #f6f2ed;
    ::selection{
        background: #93556c;
        color: #fff;
    }
}