.error-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #925169 0%, #6a374c 25%, #532b3d 50%, #432230 75%, #1f0f15 100%);


    color: white;
    user-select: none;
    h1 {
        font-size: 8rem;
        margin-bottom: 1rem;
        font-weight: 700;
    }
    p {
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }
    a {
        padding: 0.75rem 1.5rem;
        background: white;
        color: #5c3040;
        border-radius: 5px;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 600;
        transition: background 0.2s;
        &:hover {
            background: #ececec;
        }
    }
}