@use "variables";

// webkit navegator scrollbar 
::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-track {
	background: variables.$cream2;
	border: none;
}
::-webkit-scrollbar-thumb {
	background: variables.$wine8;
	transition: background 0.3s ease;
	border: 1px solid variables.$wine7;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
	background: variables.$wine6;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #{variables.$wine8} #{variables.$cream3};
}