// colors
$wine1: #362029;    // RGB(54, 32, 41)
$wine2: #5c3040;    // RGB(92, 48, 64)
$wine3: #6d3a4b;    // RGB(109, 58, 75)
$wine4: #753e52;    // RGB(117, 62, 82)
$wine5: #80455a;    // RGB(128, 69, 90)
$wine6: #80475b;    // RGB(128, 71, 91)
$wine7: #8c4e63;    // RGB(140, 78, 99)
$wine8: #93556c;    // RGB(147, 85, 108)
$cream1: #d6baab;   // RGB(214, 186, 171)
$cream2: #e8d0c4;   // RGB(232, 208, 196)
$cream3: #f3e3db;   // RGB(243, 227, 219)
$cream4: #f5f5f5;   // RGB(245, 245, 245)
$cream5: #f6f2ed;   // RGB(246, 242, 237)
$cream6: #f0f0f0;   // RGB(240, 240, 240)
$cream7: #fff9f4;   // RGB(255, 249, 244)
$cream8: #dddddd;   // RGB(221, 221, 221)
$gray1: #444444;    // RGB(68, 68, 68)
$gray2: #555555;    // RGB(85, 85, 85)
$gray3: #888888;    // RGB(136, 136, 136)
// fonts
$font-main: "Montserrat", sans-serif;
// font-size 
$font-size-base: 16px;
$font-size-1: 0.5rem;
$font-size-2: 0.8rem;
$font-size-3: 1.5rem;
$font-size-4: 2rem;
// breakpoints
$breakpoint-tablet: 768px; // tablet     | 768   <   ...
$breakpoint-desktop: 1024px; // desktop  | 1024  <   ...
