@use "variables";
@use "breakpoints";
@use "scroll";
@use "App";
@use "CartWidget";
@use "ItemListContainer";
@use "ItemDetail";
@use "NavBar";
@use "Cart";
@use "Item";
@use "ItemCount";
@use "Chekout";
@use "Error";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
}
.custom-tooltip {
	--bs-tooltip-bg: #ffffff;
	--bs-tooltip-color: black;
}